@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base{
    @font-face {
        font-family: "Overused Grotesk";
        src: url("../fonts/OverusedGrotesk-VF.woff2") format("woff2-variations");
        font-weight: 300 900;
    }
    @font-face {
        font-family: "DM Serif Text";
        src: url("../fonts/DMSerifText-Regular.ttf") format("truetype");
    }
}
body{
    font-family: "Overused Grotesk", sans-serif;
}

p, ol, ul:not(.menu-list) li{
    font-size: 20px;
    color: #525252;
}

.menu-interaction {
    @apply absolute -left-0.5 -bottom-1 h-[1.5px] w-full bg-white
    origin-center scale-x-0 transition-transform duration-300 ease-in-out
    group-hover:scale-x-100;
}

.btn-outline {
    @apply text-white flex items-center gap-1.5 border border-white rounded-xl px-4 py-2 transition-all duration-200 ease-in-out;
}
.btn-outline:hover, .btn-outline-alt {
    @apply border-[#225CA8] bg-[#225CA8];
}

.filter-doctor .fi-fo-field-wrp-label span{
    @apply text-[16px] text-primary;
}
.filter-doctor .fi-input-wrp-prefix, .doctor-search .fi-input-wrp-prefix, .speciality-filter .fi-input-wrp-prefix, .date-filter .fi-input-wrp-prefix {
    @apply border-none pe-0;
}

.doctor-search input, .speciality-filter input, .date-filter input, .careerForm input{
    @apply text-lg py-2 bg-white;
}
.department-filter .fi-fo-select, .careerForm .fi-fo-select{
    @apply py-0.5;
}

.location-filter > div span, .department-filter .fi-fo-select .choices__item, .careerForm .fi-fo-select .choices__item {
    @apply text-lg font-normal;
}

.post-content h3{
    @apply text-2xl font-medium mb-6;
}

.post-content p{
    @apply mb-4;
}

.post-content img{
    @apply rounded-xl;
}

.careerForm .filepond--drop-label label{
    @apply text-lg text-slate-400;
}

.careerForm .filepond--drop-label label span{
    @apply text-primary hover:text-accent;
}

.careerForm .fi-checkbox-input{
    @apply w-5 h-5;
}

.department-filter .fi-fo-select .choices__item button{
    @apply hidden;
}

ol{
    @apply list-decimal text-lg ml-5;
}

ul:not(.menu-list){
    @apply list-disc text-lg ml-5;
}

.careerForm .fi-fo-field-wrp-label span{
    @apply text-xl font-normal text-textsub;
}

.doctor-filter div.choices__list.choices__list--dropdown{
    @apply !hidden;
}
